body {
	color: #fff;
	margin: 0;
}
video {
	height: 720px;
	width: 1280px;
}
#appManager {
	height: 0;
	position: absolute;
	visibility: hidden;
	width: 0;
}
#controls  #panel {
	top: -135px;
	height: 120px;
	left: 0;
	padding: 15px 27px 0 27px;
	position: absolute;
	width: 1226px;
}
#controls #panel.hidden {
	top: -135px !important;
	-webkit-transition: top .5s;
	-moz-transition: top .5s;
	-ms-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
}
#controls.rewind #panel,
#controls.fastforward #panel,
#controls.paused #panel,
#controls.finished #panel,
#controls.playing #panel {
	top: 0;
	-webkit-transition: top .5s;
	-moz-transition: top .5s;
	-ms-transition: top .5s;
	-o-transition: top .5s;
	transition: top .5s;
}
#controls  #toparea {
	background-color: rgba(0, 0, 0, .7);
	height: 53px;
	overflow: hidden;
	padding-top: 13px;
	padding-bottom: 17px;
	width: 1226px;
}
#bottomarea {
	background-color: rgba(0, 0, 0, .7);
	height: 36px;
	overflow: hidden;
	width: 1226px;
	vertical-align: top;
}
#controls #infoarea {
	display: inline-block;
	padding-left: 40px;
	width: 426px;
	vertical-align: top;
}
#controls #control1area {
	display: inline-block;
	width: 300px;
}
#controls #info1line {
	font-family: "SamsungOne 300";
	font-size: 21px;
	color: #b9e4ff;
	height: 30px;
	overflow: hidden;
}
#controls #info2line {
	font-family: "SamsungOne 300";
	font-size: 19px;
	color: #fff;
	height: 28px;
	overflow: hidden;
	opacity: .45;
}
#control1area > div,
#control2area > div {
	background-color: rgba(255, 255, 255, .1);
	border: 2px solid rgba(255, 255, 255, .9);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,.3) inset;
	display: inline-block;
	height: 50px;
	margin-right: 6px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
	transition: background-color .5s;
	width: 50px;
}
#control1area > div:before {
	background-size: 50%;
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
}
#controls .disabled:before {
	opacity: .1;
}
#controls #control1area :focus  {
	background-color: rgba(255, 255, 255, .8) !important;
}
#controls #debugbutton:focus,
#controls #settingsbutton:focus {
	background-color: rgba(255, 255, 255, .8) !important;
}
#control1area #previousbutton:before {
	background: url("img/720p.png") -94px 10px no-repeat;
	transform: rotate(180deg);
}
#controls #rewindbutton:before,
#controls #fastforwardbutton:before {
	background: url("img/720p.png") 5px 10px no-repeat;
}
#controls #rewindbutton:before {
	transform: rotate(180deg);
}
#controls #playpausebutton:before,
#controls.rewind #playpausebutton:before,
#controls.fastforward #playpausebutton:before {
	background: url("img/720p.png") -201px 12px no-repeat;
}
#controls.playing #playpausebutton:before {
	background: url("img/720p.png") -279px 11px no-repeat;
}
#controls #nextbutton:before {
	background: url("img/720p.png") -94px 10px no-repeat;
	margin-right: 0;
}
#controls #control2area {
	display: inline-block;
	width: 433px;
}
#debugbutton {
	background: url("img/720p.png") -16px -209px no-repeat;
	float: right;
}
#settingsbutton {
	background: url("img/720p.png") -128px -206px no-repeat;
	float: right;	
	height: 53px;
	width: 53px;
}
#settingsmenu {
	background: rgba(119,119,119,.95);
	border: 2px solid rgba(255,255,255,1);
	color: rgba(255,255,255,1);
	font-size: 20px;
	left: 1016px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 85px;
	width: 200px;
	z-index: 10;
}
#controls #statusmodeicon {
	display: inline-block;
	height: 20px;
	margin-left: 17px;
	width: 70px;
}
#controls.playing #statusmodeicon {
	background: url("img/720p.png") -177px -5px no-repeat;
}
#controls.paused #statusmodeicon {
	background: url("img/720p.png") -272px -5px no-repeat;
}
#controls.fastforward #statusmodeicon.speed025,
#controls.rewind #statusmodeicon.speed-025 {
	background: url("img/720p.png") 3px -158px no-repeat;
}
#controls.fastforward #statusmodeicon.speed05,
#controls.rewind #statusmodeicon.speed-05 {
	background: url("img/720p.png") -130px -158px no-repeat;
}
#controls.fastforward #statusmodeicon.speed075,
#controls.rewind #statusmodeicon.speed-075 {
	background: url("img/720p.png") -248px -158px no-repeat;
}
#controls.rewind #statusmodeicon.speed-025,
#controls.rewind #statusmodeicon.speed-05,
#controls.rewind #statusmodeicon.speed-075,
#controls.rewind #statusmodeicon.speed-1,
#controls.rewind #statusmodeicon.speed-2,
#controls.rewind #statusmodeicon.speed-4 {
	transform: rotate(180deg);
}
#controls.rewind #statusmodeicon.speed-1,
#controls.fastforward #statusmodeicon.speed2{
	background: url("img/720p.png") -24px -89px no-repeat;
}
#controls.rewind #statusmodeicon.speed-2,
#controls.fastforward #statusmodeicon.speed4{
	background: url("img/720p.png") -130px -89px no-repeat;
}
#controls.rewind #statusmodeicon.speed-4,
#controls.fastforward #statusmodeicon.speed8{
	background: url("img/720p.png") -247px -89px no-repeat;
}
#controls #playtime,
#controls #endtime {
	color: #fff;
	display: inline-block;
	font-family: "SamsungOne 300";
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	margin-left: 8px;
	margin-right: 28px;
	opacity: .8;
	text-align: right;
	width: 71px;
	vertical-align: 3px;
}
#controls #progressbarcontainer {
	background-color: #fff;
	display: inline-block;
	height: 1px;
	margin-top: 10px;
	width: 900px;
	vertical-align: 7px;
}
#controls #progressbar {
	background-color: #fff;
	height: 2px;
	position: absolute;
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-ms-transition: width .5s;
	-o-transition: width .5s;
	transition: width .5s;
}
#controls #progressdot{
	position: relative;
	-webkit-transition: left .5s;
	-moz-transition: left .5s;
	-ms-transition: left .5s;
	-o-transition: left .5s;
	transition: left .4s;
}
#controls #progressdot:after {
	background: url("img/720p.png") -264px -235px no-repeat;
	content: "";
	display: block;
	height: 10px;
	left: -3px;
	position: relative;
	top: -4px;
	width: 10px;
}
#controls #progressdot:focus {
	background: none;
}
#controls #progressdot:focus:after {
	background: url("img/720p.png") -319px -230px no-repeat;
	content: "";
	display: block;
	height: 24px;
	left: -11px;
	position: relative;
	top: -11px;
	width: 25px;
}
#controls #endtime {
	display: inline-block;
	margin-left: 14px;

}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#controls #loader {
	background: url("img/720p.png") -395px -37px no-repeat;
	display: none;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
	height: 70px;
	left: 600px;
	position: absolute;
	top: 350px;
	width: 70px;
}
#controls #loader.visible{
	display: block;
}
#error {
	background: #000;
	border: 1px solid white;
	margin: 300px auto;
	padding: 20px;
	text-align: center;
	width: 500px;
}
#error #ok {
	background: rgba(255,255,255,.5);
	border: 1px solid rgba(255,255,255,1);
	line-height: 39px;
	font-size: 20px;
	margin: 20px auto 10px;
	text-align: center;
	width: 150px;
}
#subtitlesmenu {
	background: rgba(0,0,0,.9);
	height: 300px;
	margin: 0 auto;
	width: 500px;
}
#subtitlesmenutitle {
	background-color: rgba(255,255,255,.3);
	color: #fff;
	font-size: 25px;
	line-height: 56px;
	text-align: center;
}
#subtitlesmenudescription {
	color: #fff;
	font-size: 17px;
	padding: 10px 0 0 30px;
	text-align: center;
	width: 370px;
}

#subtitlesmenuright {
	margin: 10px 20px 0 0;
	float: right;
}
#subtitlesmenuleft {
	background: rgba(0,0,0,.6);
	border: 1px solid rgba(255,255,255,.1);
	height: 150px;
	margin: 10px;
	position: absolute;
	vertical-align: top;
	width: 300px;
}
#subtitlesmenuokbutton,
#subtitlesmenucancelbutton {
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(255,255,255,.1);
	color: #fff;
	line-height: 39px;
	font-size: 20px;
	text-align: center;
	width: 150px;
}
#subtitlesmenucancelbutton {
	margin-top: 5px;
}
#subtitlesmenuright :focus  {
	background: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,1);
}
#subtitlesmenusubtitles, 
#subtitlesmenulanguage {
	color: rgba(255,255,255,.5);
	padding: 8px 15px;
	border: 1px solid transparent;
}
#subtitlesmenuleft :focus {
	background: rgba(255,255,255,.5);
	border-color: rgba(255,255,255,1);
	color: #fff;
}
#subtitlesmenuleft .submenufocused {
	background: rgba(255,255,255,.1);
	border-color: rgba(255,255,255,.2);
	color: rgba(255,255,255,.8);
}
#subtitlesselectmenu {
	background: rgba(0,0,0,.8);
	color: white;
	line-height: 43px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}
#subtitlesselectmenu  div {
	border: 1px solid transparent;
	padding-left: 10px;
	
}
#subtitlesmenu .value {
	float: right;
}
#menu {
	background: rgba(0,0,0,.6);
	bottom: 50px;
	color: #fff;
	font-size: 22px;
	left: 360px;
	line-height: 55px;
	padding-left: 20px;
	position: absolute;
	width: 550px;
}
#options {
	background: rgba(0,0,0,.8);
	position: absolute;
	right: 0;
	bottom: 0;
}
#options .option {
	border: 1px solid transparent;
	padding-left: 20px;
	padding-right: 150px;
}
#options .option:focus {
	background: rgba(255,255,255,.2);
	border: 1px solid #fff;
}
#options .option.selected {
	color: blue;
}
